.head
{
    background: skyblue ;
    width: 100%;
    text-align: center;
  /*  height: 120px; */
  
}

.banner
{
    background-color: maroon; 
    width: 85%;
    float:right; 
    height: 120px;
    color: white;
}

.banner:hover
{
    background-color: white; 
    width: 85%;
    float:right; 
    height: 120px;
    color: maroon;
}
.nav
{
    background: bisque;
    width: 100%;
}
.table
{
    border: 1px;
    width: 100%;
}

.td
{
   background: black;
   color: white;
   font-size: 25px;
   text-align: center;
   padding: 5px 0px;
}

.td:hover
{
    background: white;
   color: black;
   font-size: 25px;
   text-align: center;
   padding: 5px 0px;
}

.td a
{
    color: white;
    text-decoration: none;
}

.td:hover a
{
   color: black;
   text-decoration: none;
}

.active
{
   background: white;
   color: black;
   font-size: 25px;
   text-align: center;
   padding: 5px 0px;
   text-decoration: none;
}

.active a
{
   background: white;
   color: black;
   font-size: 25px;
   text-align: center;
   padding: 5px 0px;
   text-decoration: none;
}
.container
{
    width: 100%;
    height: auto;
    background-color: white;
}

.image
{
    height: 200px;
    width: 250px;
    float:left;
    margin: 3px 5px 3px 0px;
}

.productimage
{
    height: 200px;
    width: 250px;
    float:left;
    margin: 3px 5px 3px 0px;
    padding: 2px;
}

.footer
{
    width: 100%; 
    height: 45px; 
    background-color: maroon; 
    text-align: center;
    color: white;
    padding: 3px 3px;
    
}

#td
{
    text-align: center;
    padding: 5px 0px;
   
}